
* {
	box-sizing: border-box;
}

body#indexpage {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container-page {
	width: 100%;
	height: 100vh;
	animation-name: change;
	animation-iteration-count: infinite;
	animation-duration: 20s;
	transition: 1s;
}

@keyframes change {
	from {
		background: url('../images/4.jpg') center center;
	}
	to {
		background: url('../images/5.jpg') center no-repeat;
	}
}

.content-header {
	margin-top: 50px;
	height: auto
}

.wrap-content {
	min-height: 200px;
	box-shadow: 0 0 8px 0 #858585;
	margin-top: 30px;
}

.wrap-content form {
	padding: 30px;
}

.wrap-content form h3 {
	color: #858585;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=text] {
	width: 100%;
	height: 60px;
	padding-left: 50px;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.form-input:before {
	content: "\f007";
	font-family: "FontAwesome";
	font-size: 25px;
	position: absolute;
	margin-left: 20px;
	line-height: 100px;
	color: rgba(0, 0, 0, 0.5);
}

div p {
	text-align: center;
	color: #020f49;
}

button.btn-submit {
	width: 60%;
	font-size: 20px;
	
	
}

/*button.btn-submit:hover {
	border: 2px solid #FFF;
	background: #2b7e16;
}*/

@media screen and (max-width:575px) {
	.content-header>img {
		position: relative;
		left: 35%;
	}
	.wrap-content form h3 {
		font-size: 18px;
	}
}




